@import "_variables";
@import "_grid";

*{
font-family: 'Product Sans', Arial, sans-serif;
color:$gris-texto;
}

a{
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    padding: 10px;
}
p{
    font-family: 'Roboto', sans-serif;
}
.logo{
  text-align: center; 
}
.images{
   width: 90%;
   text-align: center;
   margin: 10px 0px 10px 0px; 
}
.navv{
    text-align: center;
}
.inline{
    display: inline-block;
}

.news-der{
    float:right;
}
.asana{
    width: 20px;
}
.blok{
    display: block;
}
.sub-footer{
    height: 120px;
    border-top: solid black 1px;
    padding-top: 15px;
}
/*div {
    .col-6:hover{
        box-shadow: 10px 10px 5px #888888;
        cursor:pointer;
    }
}*/
.shadow:hover {
    box-shadow: 10px 10px 5px #888888;
    cursor:pointer;
}
hr{
    margin: 20px 0px 20px 0px;
    border: 2px solid $azul;
}
div{
    width: 98%;
}
h5{
    color:$new;
}

